<form name="container-form" class="mt-4"  method="POST" action="/courses/handle-form-actions">
    <div>
        <a href="/me/stored/courses">Quay lại</a>
        <h3>Khóa học đã xóa</h3>

        <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            
            <select class="form-select" aria-label="Default select example" style="margin: 0 16px" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="destroy">Xóa vĩnh viễn</option>
                <option value="3">Three</option>
            </select>

            <button id="exec-btn" class="btn btn-primary btn-sm disabled">Thực hiện</button>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a href="" class="btn btn-link btn-delete" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}" data-name="{{this.name}}">Xóa vĩnh viễn</a>
                    </td>
                </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <h3>
                        Thùng rác trống
                        <a href="/me/stored/courses">Danh sách khóa học</a>
                    </h3>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Comfirm Delete -->
<div class="modal" tabindex="-1" role="dialog" id="delete-course-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa <span style="color: red" class="print-name"></span> vĩnh viễn chứ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
            </div>
            </div>
        </div>
</div>

{{! Delete hidden form}}
<form name="restore-course-form" method="POST"></form>
<form name="delete-course-form" method="POST"></form>

<script>

    document.addEventListener("DOMContentLoaded", function(){

        var restoreForm=document.forms['restore-course-form'];
        var deleteForm=document.forms['delete-course-form'];
        var restoreBtn = $('.btn-restore');
        var deleteBtn = $('#btn-delete-course');
        var courseId;
        var containerForm = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var courseItemsCheckbox = $('input[name="courseIds[]"]');
        var checkboxAll = $('#checkbox-all');

            restoreBtn.click(function (e) {
                e.preventDefault();
                var courseId = $(this).data('id');
                restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
                restoreForm.submit();
            })

            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var name = button.data('name')
                courseId = button.data('id');
                document.querySelector('.print-name').innerText = name;

                deleteBtn.click(function (e) {
                    e.preventDefault();
                    deleteForm.action = '/courses/' + courseId + '/destroy?_method=DELETE';
                    deleteForm.submit();
                })
            })

            //checkbox clicked
            checkboxAll.change(function(){
                var isCheckedAll = $(this).prop('checked');
                courseItemsCheckbox.prop('checked', isCheckedAll);
                renderCheckAllSubmitBtn();
            })  

            //one checkbox clicked
            courseItemsCheckbox.change(function() {
                var isCheckedAll = courseItemsCheckbox.length === $('input[name="courseIds[]"]:checked').length;
                $('#checkbox-all').prop('checked', isCheckedAll);
                renderCheckAllSubmitBtn();
            })

            //check all submit button clicked
            $('#exec-btn').on('submit', function(e) {
                var isSubmittable = !$(this).hasClass('disabled');

                if(!isSubmittable){
                    e.preventDefault();
                }
            })

            //rerender submit btn
            function renderCheckAllSubmitBtn() {
                var checkedCount = $('input[name="courseIds[]"]:checked').length;
                if(checkedCount > 0){
                    $('#exec-btn').removeClass('disabled');
                } else {
                    $('#exec-btn').addClass('disabled');
                }
                
            }
        }
    )   
</script>