<script>
        var listDecription = [];
</script>
<div id="pagination">
    <div class="mt-4">
    <div class="row">
        
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="./courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
            <div class="card-body">
                <a href="./courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                {{!-- <p class="description card-text">{{this.decription}}</p> --}}
                <p class="description card-text"></p>
                <a href="#" class="btn btn-primary">Buy Course</a>
            </div>
            </div>
        </div>
        
                <script>
                    listDecription.push("{{this.decription}}")
                </script>
        {{/each}}

    </div>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){

        const getDecription = document.querySelectorAll(".description");

            for(let i=0;i<listDecription.length;i++){
                var decription = listDecription[i].split(' ');
                decription.splice(0, 0, `<span>`);
                decription.splice(10, 0, `</span><span>`); 
                decription.splice(decription.length, 0, `</span>
                <a class="read-more" style="font-style: italic;text-decoration: underline;">Read More</a>`);
                getDecription[i].innerHTML = decription.join(" ");
            }

            $(".read-more").prev().toggle();
            $(".read-more").siblings('.dots').toggle();

            $(document).ready(function(){

                $(".read-more").click(function(){
                    $(this).prev().toggle();
                    $(this).siblings('.dots').toggle();
                    if($(this).text()=='Read More'){
                        $(this).text('Read Less');
                    }else{
                        $(this).text('Read More');
                    }
                });
            });
    })
</script>
